body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(93, 173, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:110px;
  width:251px;
  height:34px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#FFFFFF;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:255px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:185px;
  width:300px;
  height:255px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:86px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:200px;
  width:100px;
  height:86px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:231px;
  width:97px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:300px;
  width:55px;
  height:65px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:300px;
  width:55px;
  height:65px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:300px;
  width:55px;
  height:65px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:375px;
  width:197px;
  height:30px;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:400px;
  width:197px;
  height:30px;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:52px;
  background:inherit;
  background-color:rgba(178, 60, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:479px;
  width:195px;
  height:52px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:52px;
  background:inherit;
  background-color:rgba(231, 76, 60, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:470px;
  width:195px;
  height:52px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:476px;
  width:39px;
  height:39px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:12px;
  height:39px;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:563px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:563px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:101px;
  width:111px;
  height:72px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:364px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:174px;
  width:137px;
  height:364px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:188px;
  width:55px;
  height:65px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:310px;
  width:55px;
  height:65px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:430px;
  width:55px;
  height:65px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:444px;
  width:20px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:325px;
  width:15px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:256px;
  width:78px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:378px;
  width:106px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:498px;
  width:28px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:206px;
  width:21px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:101px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:370px;
  height:100px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:55px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:29px;
  width:93px;
  height:51px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:34px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:40px;
  width:34px;
  height:30px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:38px;
  width:45px;
  height:29px;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:42px;
  width:17px;
  height:29px;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:90px;
  height:90px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:564px;
  width:30px;
  height:30px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:604px;
  width:75px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u269 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:550px;
  width:90px;
  height:90px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:564px;
  width:28px;
  height:30px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:604px;
  width:53px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u273 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:550px;
  width:90px;
  height:90px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:564px;
  width:32px;
  height:30px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:604px;
  width:56px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u277 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:550px;
  width:90px;
  height:90px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:564px;
  width:33px;
  height:30px;
  color:#FFFFFF;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:604px;
  width:79px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
