body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(93, 173, 227, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:98px;
  width:93px;
  height:32px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:12px;
  height:39px;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:130px;
  width:156px;
  height:32px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:261px;
  height:6px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:167px;
  width:258px;
  height:3px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:88px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:182px;
  width:301px;
  height:88px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:62px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:195px;
  width:267px;
  height:62px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:92px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:288px;
  width:301px;
  height:92px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:65px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:302px;
  width:263px;
  height:65px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:116px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:400px;
  width:301px;
  height:116px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:88px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:416px;
  width:270px;
  height:88px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:563px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:563px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:101px;
  width:111px;
  height:72px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:364px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:174px;
  width:137px;
  height:364px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:188px;
  width:55px;
  height:65px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:310px;
  width:55px;
  height:65px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:65px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:430px;
  width:55px;
  height:65px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:444px;
  width:20px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:325px;
  width:15px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:256px;
  width:78px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:378px;
  width:106px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:498px;
  width:28px;
  height:25px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:206px;
  width:21px;
  height:44px;
  font-family:'Delius-Regular', 'Delius';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:101px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:370px;
  height:100px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:97px;
  height:55px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:29px;
  width:93px;
  height:51px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:34px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:40px;
  width:34px;
  height:30px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:38px;
  width:45px;
  height:29px;
  font-family:'Muli-Light', 'Muli Light', 'Muli';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:42px;
  width:17px;
  height:29px;
  font-family:'STIXGeneral-Bold', 'STIXGeneral Bold', 'STIXGeneral';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:90px;
  height:90px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:564px;
  width:30px;
  height:30px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:604px;
  width:75px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u500 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:550px;
  width:90px;
  height:90px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:564px;
  width:28px;
  height:30px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:604px;
  width:53px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u504 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:550px;
  width:90px;
  height:90px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:564px;
  width:32px;
  height:30px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:604px;
  width:56px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  background:linear-gradient(180deg, rgba(46, 204, 113, 1) 0%, rgba(46, 204, 113, 1) 0%, rgba(39, 174, 96, 1) 100%, rgba(39, 174, 96, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 174, 96, 1);
  border-radius:0px;
  -moz-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:1px -1px 2px rgba(51, 51, 51, 0.349019607843137);
}
#u508 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:550px;
  width:90px;
  height:90px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:564px;
  width:33px;
  height:30px;
  color:#FFFFFF;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:604px;
  width:79px;
  height:18px;
  font-family:'Muli';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
